@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/pexels.jpg);
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/* .logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
} */
.logo {
    display: flex;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.logo p {
    color: #fff;
    font-size: 1.2em;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

.navigation {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    /* font-weight: 50%; */
    margin-left: 30px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-weight: 50%;
    margin: 0 30px;
}
.navigation a:hover {
    /* border-bottom: 3px solid red; */
    /* text-decoration: underline; */
    color: lightskyblue;
}
/* .navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    transform-origin: right;
    transform: scaleZ(0);
    transition: transform .5s;
} */

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnlogin-popup {
    width: 110px;
    height: 40px;
    background: transparent;
    border: 4px double #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    margin-left: 50px;
    transition: .5s;
}

.navigation .btnlogin-popup:hover {
    background-color: lightskyblue;
    color: #fff;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid grey;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(1);
    transition: transform .5s, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    color: rgb(243, 243, 243);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 55%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(0, 195, 255);
    font-weight: 300;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -12px;
} 

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-size: 1em;
    color: #fff;
    font-weight: 100;
}

.input-box .icon {
    position: absolute;
    right: 10px;
    font-size: 1.8em;
    color: #000;
    line-height: 60px;
}

.ingat {
    font-size: .9em;
    color: rgb(0, 255, 221);
    font-weight: 500;
    margin: -15px 0 15px 0;
    display: flex;
    justify-content: space-around;
}

.ingat label {
    accent-color: rgb(0, 208, 255);
    margin-right: 15px;
}

.ingat a {
    color: rgb(82, 82, 173);
    text-decoration: none;
}

.ingat a:hover {
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: lightgrey;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.login-register {
    font-size: .9rem;
    /* color: rgb(255, 0, 0); */
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register a {
    color: red;
    text-decoration: none;
    font-weight: 500;
}

.login-register p a:hover {
    text-decoration: underline;
}