@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
}

.parent-link {
    font-size: 1rem;
}

.parent-link, .icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 80px;
    border-radius: 50%;
}

.logo:hover {
    opacity: 0.7;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links, .msg {
    text-decoration: none;
}

.social-links {
    padding: 0 2.5rem;
    margin-right: 0;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

.social-links:hover {
    opacity: 0.8;
    color: red;
}

.icon > .sm-icon {
    padding: 0 0.5rem;
    margin: 0;
    color: white;
}

.icon >.sm-icon:hover {
    opacity: 0.8;
}

header {
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(34, 34, 34, 0.6),
            rgba(34, 34,34, 0.6), url(../img/Background-6.jpg));
    background-size: cover;
    background-position: center;
    /* color: white; */
}

body {
    font-family: 'Inter', sans-serif;
    background: url(../img/Background-6.jpg)
    top center / cover no-repeat;
}

nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

h1 {
    font-size: 52px;
    margin-bottom: 32px;
    line-height: 1.05;
}

h2 {
    font-size: 44px;
    margin-bottom: 48px;
}

p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
}

.btn:link,
.btn:visited {
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(199, 0, 0);
    color: #EAF8FF;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 25px;
}

.btn:link:hover,
.btn:visited:hover {
    opacity: 0.8;
}

.header-container {
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 3rem;
    margin-top: 2.5rem;
}

.hdr-container-inner {
    width: 50%;
}

